<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="FinalURDF.SLDASM">
  <link
    name="Base_Link">
    <inertial>
      <origin
        xyz="7.3348E-05 -0.00013963 -0.0079498"
        rpy="0 0 0" />
      <mass
        value="1.0503" />
      <inertia
        ixx="0.0013377"
        ixy="4.0693E-08"
        ixz="-6.931E-15"
        iyy="0.0021376"
        iyz="7.0463E-12"
        izz="0.0032818" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BaseLink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.188235 0.666667 0.827451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BaseLink.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="FR_Hip_Link">
    <inertial>
      <origin
        xyz="0.00092086 0.0053269 -0.038601"
        rpy="0 0 0" />
      <mass
        value="0.11316" />
      <inertia
        ixx="2.1528E-05"
        ixy="2.5735E-07"
        ixz="5.1753E-08"
        iyy="3.5986E-05"
        iyz="-9.3758E-08"
        izz="2.71E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FRHip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.658824 0.474510 0.788235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FRHip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_Hip_Joint"
    type="revolute">
    <origin
      xyz="0.1045 -0.099089 -0.035652"
      rpy="0 0 0" />
    <parent
      link="Base_Link" />
    <child
      link="FR_Hip_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="FR_Thigh_Link">
    <inertial>
      <origin
        xyz="-0.014685 -3.4417E-15 -0.02616"
        rpy="0 0 0" />
      <mass
        value="0.043631" />
      <inertia
        ixx="2.1705E-05"
        ixy="-1.7085E-20"
        ixz="-9.4139E-06"
        iyy="3.1171E-05"
        iyz="-4.0117E-20"
        izz="1.0219E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FRThigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.258824 0.705882 0.564706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FRThigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_Thigh_Joint"
    type="revolute">
    <origin
      xyz="-0.010143 0.0050417 -0.045931"
      rpy="0 0 0" />
    <parent
      link="FR_Hip_Link" />
    <child
      link="FR_Thigh_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="FR_Foot_Link">
    <inertial>
      <origin
        xyz="0.024442 0.0054487 -0.034356"
        rpy="0 0 0" />
      <mass
        value="0.1583" />
      <inertia
        ixx="9.8867E-05"
        ixy="1.0084E-06"
        ixz="4.7129E-05"
        iyy="0.00013791"
        iyz="-1.4373E-06"
        izz="5.9165E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FRFoot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.874510 0.674510 0.184314 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FRFoot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_Foot_Joint"
    type="revolute">
    <origin
      xyz="-0.02937 0 -0.05232"
      rpy="0 0 0" />
    <parent
      link="FR_Thigh_Link" />
    <child
      link="FR_Foot_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="FL_Hip_Link">
    <inertial>
      <origin
        xyz="0.00092086 -0.0053268 -0.038601"
        rpy="0 0 0" />
      <mass
        value="0.11316" />
      <inertia
        ixx="2.1528E-05"
        ixy="-2.5731E-07"
        ixz="5.1759E-08"
        iyy="3.5986E-05"
        iyz="9.3773E-08"
        izz="2.71E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FLHip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.658824 0.474510 0.788235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FLHip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_Hip_Joint"
    type="revolute">
    <origin
      xyz="0.1045 0.098749 -0.035742"
      rpy="0 0 0" />
    <parent
      link="Base_Link" />
    <child
      link="FL_Hip_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="FL_Thigh_Link">
    <inertial>
      <origin
        xyz="-0.014685 3.1225E-17 -0.02616"
        rpy="0 0 0" />
      <mass
        value="0.043631" />
      <inertia
        ixx="2.1705E-05"
        ixy="5.1991E-21"
        ixz="-9.4139E-06"
        iyy="3.1171E-05"
        iyz="1.6216E-20"
        izz="1.0219E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FLThigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.258824 0.705882 0.564706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FLThigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_Thigh_Joint"
    type="revolute">
    <origin
      xyz="-0.010143 -0.0050417 -0.045931"
      rpy="0 0 0" />
    <parent
      link="FL_Hip_Link" />
    <child
      link="FL_Thigh_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="FL_Foot_Link">
    <inertial>
      <origin
        xyz="0.024442 -0.0063159 -0.034446"
        rpy="0 0 0" />
      <mass
        value="0.1583" />
      <inertia
        ixx="9.8867E-05"
        ixy="-1.0084E-06"
        ixz="4.7129E-05"
        iyy="0.00013791"
        iyz="1.4373E-06"
        izz="5.9165E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FLFoot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.874510 0.674510 0.184314 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/FLFoot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_Foot_Joint"
    type="revolute">
    <origin
      xyz="-0.02937 0 -0.05223"
      rpy="0 0 0" />
    <parent
      link="FL_Thigh_Link" />
    <child
      link="FL_Foot_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="BR_Hip_Link">
    <inertial>
      <origin
        xyz="-0.00092224 0.0053268 -0.038601"
        rpy="0 0 0" />
      <mass
        value="0.11316" />
      <inertia
        ixx="2.1528E-05"
        ixy="-2.5731E-07"
        ixz="-5.1759E-08"
        iyy="3.5986E-05"
        iyz="-9.3773E-08"
        izz="2.71E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BRHip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.658824 0.474510 0.788235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BRHip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_Hip_Joint"
    type="revolute">
    <origin
      xyz="-0.1045 -0.099089 -0.035652"
      rpy="0 0 0" />
    <parent
      link="Base_Link" />
    <child
      link="BR_Hip_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="BR_Thigh_Link">
    <inertial>
      <origin
        xyz="0.014685 -3.7748E-15 -0.02616"
        rpy="0 0 0" />
      <mass
        value="0.043631" />
      <inertia
        ixx="2.1705E-05"
        ixy="1.1241E-20"
        ixz="9.4139E-06"
        iyy="3.1171E-05"
        iyz="-2.3401E-20"
        izz="1.0219E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BRThigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.258824 0.705882 0.564706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BRThigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_Thigh_Joint"
    type="revolute">
    <origin
      xyz="0.010142 0.0050417 -0.045931"
      rpy="0 0 0" />
    <parent
      link="BR_Hip_Link" />
    <child
      link="BR_Thigh_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="BR_Foot_Link">
    <inertial>
      <origin
        xyz="-0.024617 0.0063159 -0.034142"
        rpy="0 0 0" />
      <mass
        value="0.1583" />
      <inertia
        ixx="9.8389E-05"
        ixy="-1.0157E-06"
        ixz="-4.7327E-05"
        iyy="0.00013791"
        iyz="-1.4322E-06"
        izz="5.9643E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BRFoot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.874510 0.674510 0.184314 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BRFoot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_Foot_Joint"
    type="revolute">
    <origin
      xyz="0.029371 0 -0.05241"
      rpy="0 0 0" />
    <parent
      link="BR_Thigh_Link" />
    <child
      link="BR_Foot_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="BL_Hip_Link">
    <inertial>
      <origin
        xyz="-0.00092086 -0.0053269 -0.038601"
        rpy="0 0 0" />
      <mass
        value="0.11316" />
      <inertia
        ixx="2.1528E-05"
        ixy="2.5735E-07"
        ixz="-5.1753E-08"
        iyy="3.5986E-05"
        iyz="9.3758E-08"
        izz="2.71E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BLHip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.658824 0.474510 0.788235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BLHip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_Hip_Joint"
    type="revolute">
    <origin
      xyz="-0.1045 0.098749 -0.035742"
      rpy="0 0 0" />
    <parent
      link="Base_Link" />
    <child
      link="BL_Hip_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="BL_Thigh_Link">
    <inertial>
      <origin
        xyz="0.014685 9.0206E-17 -0.02616"
        rpy="0 0 0" />
      <mass
        value="0.043631" />
      <inertia
        ixx="2.1705E-05"
        ixy="-2.0724E-20"
        ixz="9.4139E-06"
        iyy="3.1171E-05"
        iyz="3.7015E-20"
        izz="1.0219E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BLThigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.258824 0.705882 0.564706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BLThigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_Thigh_Joint"
    type="revolute">
    <origin
      xyz="0.010143 -0.0042 -0.045931"
      rpy="0 0 0" />
    <parent
      link="BL_Hip_Link" />
    <child
      link="BL_Thigh_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
  <link
    name="BL_Foot_Link">
    <inertial>
      <origin
        xyz="-0.024629 -0.0055046 -0.034197"
        rpy="0 0 0" />
      <mass
        value="0.1583" />
      <inertia
        ixx="9.8389E-05"
        ixy="1.0157E-06"
        ixz="-4.7327E-05"
        iyy="0.00013791"
        iyz="1.4322E-06"
        izz="5.9643E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BLFoot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.874510 0.674510 0.184314 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://FinalURDF.SLDASM/meshes/BLFoot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_Foot_Joint"
    type="revolute">
    <origin
      xyz="0.02937 0 -0.05232"
      rpy="0 0 0" />
    <parent
      link="BL_Thigh_Link" />
    <child
      link="BL_Foot_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.57079632679"
      upper="1.57079632679"
      effort="3.92266"
      velocity="10.4719755" />
  </joint>
</robot>
